.tabs {
    display: flex;
    height: 100%;
}
.footer__tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: none;
    justify-content: center;
    background-color: #1A2B3C;
}
@media (min-width: 768px) {
    .header__tabs .tab {
        width: 140px;
    }
}
@media (max-width: 768px) {
    .header__tabs {
        display: none;
    }
    .footer__tabs {
        display: flex;
        position: sticky;
        bottom: -40px;
    }
}
.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    height: 100%;
    max-width: 140px;
    padding: 12px;
    width: 100%;
    color: #fff;
}
@media (max-width: 768px) {
    .tab p {
        text-align: center;
    }
}
.tab--active,
.tab-link:hover {
    background-color: #FFFFFF33;
}