.footer {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 90px;
    background-color: #1A2B3C;
}
@media (max-width: 768px) {
    .footer {
        min-height: 90px;
    }
}
.footer__content {
    display: flex;
    justify-content: center;
    column-gap: 64px;
    padding: 24px;
}
@media (max-width: 768px) {
    .footer__content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }
    .footer__content__item {
        grid-column: span 2;
    }
}
@media (max-width: 576px) {
    .footer__content__item {
        grid-column: span 3;
    }
}
@media (max-width: 425px) {
    .footer__content__item {
        grid-column: 1/-1;
    }
}
.footer__content__item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.footer___menu {
    display: flex;
    flex-direction: column;
}
.footer___menu__title {
    margin-bottom: 16px;
    color: #fff;
}
.footer___menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
