.sensors {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.sensors .sensor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    padding: 24px 80px;
    background-color: #1A2B3C;
}
@media (max-width: 576px) {
    .sensors .sensor {
        width: 100%;
        min-width: 100%;
    }
}
.sensors .sensor__indicator {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sensor p {
    margin-top: 32px;
    text-align: center;
}
.sensors .sensor__indicator__arrow {
    position: absolute;
    top: 50%;
    left: calc(50% - 8px);
    transform-origin: 50% 12%;
}